    <nav class="navbar navbar-default visual-menu visual-container">
        <div class="visual-content">
            <a class="navbar-brand" routerLink="/visual"><img src="assets/images/logo.png"></a>
            <ul class="nav navbar-nav">
              <li class="active"><a routerLink="/visual"><span class="glyphicon glyphicon-home"></span>Home</a></li>
              <li><a routerLink="/about"><span class="glyphicon glyphicon-info-sign"></span>About</a></li>
              <li class="dropdown">
                <a routerLink="/visual" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Item 1</a></li>
                  <li><a href="#">Item 2</a></li>
                </ul>
              </li>
              <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>    