<footer class="visual-container">
    <div class="visual-content footer">
        <div class="clearfix">             
            <div class="links left">
                <h5>Links</h5>
                <ul>
                    <li><a routerLink="/visual">Home</a></li>
                    <li><a routerLink="/about">About</a></li>
                    <li><a routerLink="/visual">Menu</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="address left">
                <h5>Our Address</h5>
                <address>
              214, King Street West<br>
               Downtown, Toronto<br>
              ONTARIO<br>
              <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>: +416 1234 5678<br>
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>: +416 8765 4321<br>
              <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>: <a href="mailto:ilfornello@food.net">ilfornello@food.net</a>
           </address>
            </div>
            <div class="social right">
                    <a href="http://google.com/+"><img src="assets/images/google.png" alt="Google+"></a>
                    <a href="http://www.facebook.com/profile.php?id="><img src="assets/images/facebook.png" alt="Facebook"></a>
                    <a href="http://www.linkedin.com/in/"><img src="assets/images/linkedin.png" alt="LinkedIn"></a>
                    <a href="http://twitter.com/"><img src="assets/images/twitter.png" alt="Twitter"></a>
                    <a href="http://youtube.com/"><img src="assets/images/youtube.png" alt="YouTube"></a>
                    <a href="mailto:"><img src="assets/images/email.png" alt="Mail"></a>
            </div>
        </div>
        <div class="copyright">
            <p align=center>© Copyright 2015 Ristorante Il Fornello</p>
        </div>
</div>
</footer>

